root = true

[*.{kt,kts}]
ktlint_standard_property-naming = disabled
ktlint_standard_value-argument-comment = disabled
ktlint_standard_kdoc-wrapping = disabled
ktlint_standard_no-consecutive-comments = disabled
