language: android

jdk:
  - oraclejdk8

android:
  components:
    - platform-tools
    - tools
    - build-tools-27.0.3
    - android-27
    - extra-google-m2repository

script: "./gradlew assembledebug"
