# Add project specific ProGuard rules here.
# By default, the flags in this file are appended to flags specified
# in /Users/panavtec/Documents/android-sdk-macosx/tools/proguard/proguard-android.txt
# You can edit the include path and order by changing the ProGuard
# include property in project.properties.
#
# For more details, see
#   http://developer.android.com/guide/developing/tools/proguard.html

-dontobfuscate
-optimizationpasses 5

#From here Apache Commons
-keep class org.apache.http.**
-keep interface org.apache.http.**

-dontwarn org.apache.commons.**

#From here Apache mira
-dontwarn javax.security.sasl.*
-dontwarn org.ietf.jgss.*
-dontwarn org.apache.mina.core.session.DefaultIoSessionDataStructureFactory$DefaultIoSessionAttributeMap #Java 8 not implememnted
-dontwarn org.apache.mina.util.ExpiringMap #Java 8 not implememnted
-keepclassmembers class * implements org.apache.mina.core.service.IoProcessor {
    public <init>(java.util.concurrent.ExecutorService);
    public <init>(java.util.concurrent.Executor);
    public <init>();
}

#From here jcifs
-dontwarn javax.servlet.**
-dontwarn jcifs.http.NetworkExplorer

-keep,allowoptimization,allowobfuscation class eu.masconsult.android_ntlm.* {*;}

#From here org.codehaus
-keep  class org.codehaus.jackson.** { *; }

-dontwarn org.codehaus.**

-keep class org.w3c.dom.bootstrap.** { *; }
-keep class org.joda.time.** { *; }

#From here Apache regexp
-dontwarn org.apache.regexp.REDemo
-dontwarn org.apache.regexp.REDemo$1

#From here Apache ftpsever
-dontwarn org.apache.ftpserver.**

#From here MPAndroidChart
-keep class com.github.mikephil.charting.** { *; }

-dontwarn io.realm.**
#From here retrolambda
-dontwarn java.lang.invoke.*
-dontwarn **$$Lambda$*

#From here Glide
-keep public class * implements com.bumptech.glide.module.GlideModule
-keep public class * extends com.bumptech.glide.AppGlideModule
-keep public enum com.bumptech.glide.load.resource.bitmap.ImageHeaderParser$** {
  **[] $VALUES;
  public *;
}

#From here AboutLibraries
-keepclasseswithmembers class **.R$* {
    public static final int define_*;
}

#From here CloudRail
-keep class com.cloudrail.** { *; }

#From here BouncyCastle
-keep class org.bouncycastle.crypto.* {*;}
-keep class org.bouncycastle.crypto.agreement.** {*;}
-keep class org.bouncycastle.crypto.digests.* {*;}
-keep class org.bouncycastle.crypto.ec.* {*;}
-keep class org.bouncycastle.crypto.encodings.* {*;}
-keep class org.bouncycastle.crypto.engines.* {*;}
-keep class org.bouncycastle.crypto.macs.* {*;}
-keep class org.bouncycastle.crypto.modes.* {*;}
-keep class org.bouncycastle.crypto.paddings.* {*;}
-keep class org.bouncycastle.crypto.params.* {*;}
-keep class org.bouncycastle.crypto.prng.* {*;}
-keep class org.bouncycastle.crypto.signers.* {*;}

-keep class org.bouncycastle.jcajce.provider.asymmetric.* {*;}
-keep class org.bouncycastle.jcajce.provider.asymmetric.util.* {*;}
-keep class org.bouncycastle.jcajce.provider.asymmetric.dh.* {*;}
-keep class org.bouncycastle.jcajce.provider.asymmetric.ec.* {*;}
-keep class org.bouncycastle.jcajce.provider.asymmetric.rsa.* {*;}

-keep class org.bouncycastle.jcajce.provider.digest.** {*;}
-keep class org.bouncycastle.jcajce.provider.keystore.** {*;}
-keep class org.bouncycastle.jcajce.provider.symmetric.** {*;}
-keep class org.bouncycastle.jcajce.spec.* {*;}
-keep class org.bouncycastle.jce.** {*;}

#EventBus
-keep class org.greenrobot.eventbus.** {*;}
-keepclassmembers class * {
    @org.greenrobot.eventbus.Subscribe *;
}

-dontwarn javax.naming.**

#From here sshj. We are not using GSSAPI to connect to SSH
-dontwarn net.schmizz.sshj.userauth.method.AuthGssApiWithMic
#Warning was at SSHClient.authGssApiWithMic, referencing javax.security.auth.login.LoginContext.
#But we are not using it too
-dontwarn net.schmizz.sshj.SSHClient



#From here tests classes
#Ignore test classes see tests-proguard.cfg
-dontwarn android.test.**
-dontwarn org.junit.**

#Commons-compress. See #2647.
#Keep constructors that involves an InputStream
-keepclassmembers class * extends org.apache.commons.compress.compressors.CompressorInputStream {
  <init>(java.io.InputStream);
}