<?xml version="1.0" encoding="utf-8"?>

<!--
    Copyright (C) 2014 Arpit Khurana <arpitkh96@gmail.com>, Vishal Nehra <vishalmeham2@gmail.com>

    This file is part of Amaze File Manager.

    Amaze File Manager is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
    -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.amaze.filemanager"
    android:versionCode="55"
    android:versionName="3.1.2 Beta 10">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="25" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <application
        android:name=".utils.AppConfig"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        tools:replace="android:label"
        android:label="Amaze">

        <activity
            android:label="Amaze"
            android:launchMode="singleInstance"
            android:name=".activities.MainActivity"
            android:theme="@style/appCompatLight">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <data android:mimeType="*/*" />
                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.RINGTONE_PICKER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/rar" />
                <data android:mimeType="application/x-rar-compressed"/><!--<category android:name="android.intent.category.OPENABLE" />-->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>
        <activity
            android:uiOptions="splitActionBarWhenNarrow"
            android:label="@string/setting"
            android:name=".activities.Preferences"
            android:theme="@style/appCompatLight">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity
            android:label="@string/textreader"
            android:name=".activities.TextReader"
            android:theme="@style/appCompatLight">
            <intent-filter
                android:label="Amaze Text Editor">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
            </intent-filter>

        </activity>
        <activity
            android:label="@string/databasereader"
            android:name=".activities.DbViewer"
            android:theme="@style/appCompatLight"
            android:screenOrientation="locked">
            <intent-filter
                android:label="Amaze Database Reader">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="db/*" />
            </intent-filter>

        </activity>

        <activity android:name=".activities.AboutActivity"
            android:theme="@style/aboutLight"
            android:label="About"
            />

        <service
            android:name = ".services.ExtractService"
            android:label = "Extracting"
            >
        </service>
        <service
            android:name = ".services.ZipTask"
            android:label = "Compressing"
            >
        </service>
        <service
            android:name = ".services.CopyService"
            android:label = "Copying"
            >
        </service>
        <service android:name=".services.EncryptService"
            android:label="@string/crypt_encrypting"
            />

        <service
            android:name="com.amaze.filemanager.services.ftpservice.FTPService"
            android:enabled="true"
            android:exported="true" />

        <service android:name=".services.ftpservice.FTPTileService"
            android:icon="@drawable/ic_ftp_dark"
            android:label="@string/ftp"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action
                    android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.amaze.filemanager.services.ftpservice.FTPReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.amaze.filemanager.services.ftpservice.FTPReceiver.ACTION_START_FTPSERVER" />
                <action android:name="com.amaze.filemanager.services.ftpservice.FTPReceiver.ACTION_STOP_FTPSERVER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.amaze.filemanager.ui.notifications.FTPNotification"
            android:exported="true">
            <intent-filter>
                <action android:name="com.amaze.filemanager.services.ftpservice.FTPReceiver.FTPSERVER_STARTED" />
                <action android:name="com.amaze.filemanager.services.ftpservice.FTPReceiver.FTPSERVER_STOPPED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
