<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- FTP Server Service -->
    <application>
        <service
            android:name=".service.FtpServerService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

<!--        <receiver-->
<!--            android:name=".service.FtpReceiver"-->
<!--            android:enabled="true"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.amaze.filemanager.services.ftpservice.FTPReceiver.ACTION_START_FTPSERVER" />-->
<!--                <action android:name="com.amaze.filemanager.services.ftpservice.FTPReceiver.ACTION_STOP_FTPSERVER" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->
    </application>
</manifest>
