name: Android Feature CI

on:
  pull_request:
    branches:
      - 'master'
      - 'release/*'
      - 'hotfix/*'

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: "adopt"
          java-version: 11
      - name: Check formatting using spotless
        run: ./gradlew spotlessCheck --stacktrace | grep -vE 'Transform|Build cache is disabled|history is available.'
      - name: Build with Gradle
        run: |
          ./gradlew assembledebug --stacktrace | grep -vE 'Transform|Build cache is disabled|history is available.'
        env:
          TZ: UTC
      - name: Run test cases
        run: ./gradlew jacocoTestPlayDebugUnitTestReport --stacktrace --info | grep -vE 'Transform|Build cache is disabled|history is available.'
        env:
          TZ: UTC
      - name: Publish test cases
        run: |
          export CODACY_PROJECT_TOKEN=${{ secrets.CODACY_TOKEN }}
          bash <(curl -Ls https://coverage.codacy.com/get.sh)
        continue-on-error: true
