name: Android Main CI

on:
  push:
    branches:
      - 'master'
      - 'release/*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Check formatting using spotless
        run: ./gradlew spotlessCheck --stacktrace
      - name: Build with Gradle
        run: |
          ./gradlew assembledebug --stacktrace
      - name: Run test cases
        run: ./gradlew jacocoTestPlayDebugUnitTestReport --stacktrace
      - name: Publish test cases
        run: |
          export CODACY_PROJECT_TOKEN=${{ secrets.CODACY_TOKEN }}
          bash <(curl -Ls https://coverage.codacy.com/get.sh)
